@import url(style.css);

main {
    background-image: url(../images//dondelapaz/dondelapazbg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
p {
  color: #d35b02;
  font-weight: 700;
  line-height: 1.5rem;
  height: 100%;
  width: 100%;
  font-size: 1.25rem;
}

/* Tamaño y formato de imagenes */
.titulocartaimg{
    max-width: 300px;
}
.velaimg{
    max-width: 250px;
}
.numero1img{
    max-width:300px;
    margin-right: 30px;
}
.numero2img{
    max-width:300px;
    margin-right: 30px;
}

/*Titulo*/
.titulocarta{
    padding-block: 1rem;
    text-align: center;
}
/*Parrafos*/
.P1 > p {
    text-align: justify;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  
.P1 > img {
   padding-left: 2rem;
   width: 250px;
   float: right;
}
.P2 > p {
    text-align: justify;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  
.P2 > img {
   padding-left: 2rem;
   float: left;
}
.P3 > p {
    text-align: justify;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
  
.P3 > img {
   padding-left: 2rem;
   float: left;
}
.P4{
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 1rem;
}
/*seccion 2*/
.lupa{
  max-width: 400px;
}
.corona{
  max-width: 400px;
}
.arbol{
  max-width: 400px;
}
.imagenes > li{
  display: inline-block;
  list-style: none;
  margin: 30px;
}
/*seccion 3*/
.P33 > p {
  text-align: justify;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.P33 > img {
  padding-left: 2rem;
  max-width: 300px;
  float: right;
  margin: 50px;
}