@import url(style.css);

main {
  background-image: url('../images/historieta/bg.png');
  background-position: top;
  background-repeat: repeat;
  background-size: 65%;
}

.historieta__title {
  text-align: center;
}

.historieta__imagen {
  text-align: center;
  margin-left: 22px;
  margin-right: 5px;
  transform: translate(0, -2.75%);
}

.comic {
  text-align: center;
  transition: all 0.25s ease-in-out;
  transform: scale(1);
}

.comic:hover {
  transition: 0.25s ease;
  transform: scale(1.025);
}

.historieta__imagen::before {
  transition: all 0.25s ease;
  transform: rotate(0deg);
  content: url('../images/historieta/star.webp');
  position: relative;
  bottom: 1100px;
  left: 10px;
}

.historieta__imagen::before:hover {
  transition: all 0.25s ease;
  transform: rotate(5deg);
}

/* 
Estos pseudoelementos están invicible, con la finalidad 
de poder acomodar la imagen de una manera más cómoda.
NO QUITAR! Arruinaría el centrado lol. 
*/
.historieta__imagen::after {
  content: url('../images/historieta/star.webp');
  position: relative;
  opacity: 0;
}