@import url(style.css);

.infografia--first {
    background-image: url(../images/elarbolbg2.svg); /*Colocar respectivo bg*/
    background-size:cover;
}

.infografia--title > img{
  width: 300px;
  padding-bottom: 2%;
}

.infografia--title {
  text-align: center;
  padding-bottom: 1rem;
}

.infografia {
    text-align: center;
}

