@import url(style.css);

p {
  color: var(--navbar-text-color);
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1.5em;
  font-size: 1.25rem;
}

.lab__info {
  text-align: center;
}

.lab__info > p {
  margin-block: 2.5%;
}

.laberinth {
  display: flex;
  justify-content: center;
}

.game {
  position: relative;
}

.game::before {
  content: url(../images/laberinto/pencil.png);
  position: absolute;
  top: 15%;
}

.laberinth__game {
  position: absolute;
  top: 25%;
  left: 60%;
  transform: translate(-60%, -25%);
  width: 50%;
  height: 50%;
  background-repeat: no-repeat;
  background-image: url(../images/laberinto/placeholder.png);
  background-size: contain;
}

.laberinth__game::before {
  content: url(../images/laberinto/kids.png);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}
