@import url(style.css);

p {
  color: var(--navbar-text-color);
  font-weight: 700;
  line-height: 1.5em;
  font-size: 1.25rem;
}

.abs {
  position: absolute;
}

.lab__info {
  text-align: center;
}

.lab__info > p {
  margin-block: 2.5%;
}

.laberinth {
  position: relative;
  display: flex;
  justify-content: center;
}

.game {
  position: relative;
}

.pergamino {
  user-select: none;
}

.playable,
.drawable {
  position: absolute;
  top: 5%;
  left: 57%;
  transform: translateX(-57%);
  user-select: none;
}

.playable {
  max-width: 462px;
  aspect-ratio: 22/27;
  width: 50%;
}

.lupa {
  left: -40px;
  bottom: 30%;
}

.lapiz {
  left: -2%;
  top: 10%;
}

.heart {
  right: -21%;
  top: 25%;
}

.kidbtm {
  scale: 1.2;
  bottom: 0;
  right: -40%;
}
