@import url(style.css);

body {
  color: #d35b02;
  font-weight: 700;
  line-height: 1.5rem;
  height: 100%;
  width: 100%;
}

main{
  background-image: url(../images/Meditación/fondo.svg);
  background-repeat: repeat;
  background-position: center;
  background-position: top;
}

p {
  background-color: rgb(255, 242, 227, 0.8);
  color: #d35b02;
  font-weight: 700;
  line-height: 1.5rem;
  height: 100%;
  font-size: 1.25rem;
}

.titulo {
  padding-top: 1rem;
  text-align: center;
}

.titulo > img {
  width: 300px;
}
.florrosa{
  object-fit: contain;
}
.flor {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  gap: 40px;
}

.flor > p {
  text-align: justify;
  margin-bottom: 3%;
  font-size: x-large;
}

.flor > img {
  max-width: 600px;
}

.personas {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.p1 {
  text-align: justify;
  margin-top: 50px;
  font-size: x-large;
}

.p2 {
  text-align: justify;
  margin-top: 50px;
  font-size: x-large;
}

.manoytxt {
  display: flex;
  gap: 50px;
}

.texto {
  text-align: justify;
  position: relative;
  margin-top: 20px;
  font-size: x-large;
}

.per_bibl_txt {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.per4 {
  height: 350px;
  width: 300px;
}

.texto2 {
  text-align: justify;
  position: relative;
  margin-top: 20px;
  margin-bottom: auto;
  font-size: x-large;
}

.biblia {
  width: 325px;
  float: right;
  margin-left: 40px;
}

.medi_third {
  margin-bottom: 3%;
}

.MusiFondo{
  margin-left: 39%;
}

@media screen and (min-width: 501px) and (max-width: 900px) {
  .fondo { 
      background-image: url("../images/flormedi.png");
      background-repeat: repeat-y;
      background-size: cover;
  }

  .main {
    margin: auto;
  }

  .titulo {
    padding-top: 1rem;
    text-align: center;
  }

  .titulo > img {
    width: 300px;
}

.flor{
  display: flex;
  justify-content: center;  
  padding-top: 20px;
}

.flor > p{  
  text-align: justify;
  position:relative;
  margin-left: 6%;
  margin-bottom: 3%;
  font-size:x-large;
}

.flor > img{
  max-width: 600px;
  margin-right: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.personas{
  display:grid;
  text-align: center;
  margin-top: 10px;
  position: relative;
  margin:auto;
}

.per1{
  margin-left: 10%;
}

.per2{
  margin-left: 10%;
}

.per3{
  margin-left: 10%;
}

.p1{  
  text-align: justify;
  margin-left: 6%;
  margin-top: 50px;
  font-size:x-large;
}

.p2{  
  text-align: justify;
  position:relative;
  margin-left: 6%;
  margin-top: 50px;
  font-size:x-large;
}

.manoytxt{
  display: flex;
  margin-left: 130px;
}

.texto{  
  text-align: justify;
  position:relative;
  margin-left: 3%;  
  margin-top: 20px;
  font-size:x-large;
}

.per_bibl_txt{
  display: flex;
  justify-content: center;
}

.per4{
  height: 350px;
  width: 300px;
  margin-left: 10%;
}

.texto2{
  text-align: justify;
  position:relative;
  margin-left: 9%;
  margin-right: 4%;
  margin-top: 20px;
  margin-bottom: auto;
  font-size:x-large;
}

.biblia{
  width: 325px;
  margin-left: 10px;
  margin-right: 4%;
  float: right;
}

}

@media screen and (min-width: 501px) and (max-width: 900px){
  .fondo{
    .fondo{
      background-image: url('../images/flormedi.png');
      background-repeat:repeat-y;
      background-size: cover;
    }
  }

  .flor {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .flor > p {
    text-align: justify;
    position: relative;
    margin-left: 6%;
    margin-bottom: auto;
    font-size: x-large;
  }

  .flor > img {
    width: 600px;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  .people1{
    object-fit: contain;
  }
  .personas {
    display: grid;
    text-align: center;
    margin-top: 10px;
    position: relative;
    margin: auto;
  }

  .per1 {
    padding-top: 30px;
  }

  .per2 {
    padding-top: 30px;
  }

  .per3 {
    padding-top: 30px;
  }

  .letreros {
    display: contents;
    text-align: center;
    position: relative;
  }

  .p1 {
    text-align: justify;
    position: relative;
    margin-left: 6%;
    margin-top: 50px;
    font-size: x-large;
  }

  .p2 {
    text-align: justify;
    position: relative;
    margin-left: 6%;
    margin-right: 3%;
    margin-top: 50px;
    font-size: x-large;
  }

  .manoytxt {
    display: flex;
    margin-left: 130px;
  }

  .mano {
    width: 180px;
    margin-left: -10%;
    object-fit: contain;
  }

  .texto {
    text-align: justify;
    position: relative;
    margin-left: 3%;
    margin-right: 2%;
    margin-top: 20px;
    font-size: x-large;
  }

  .per_bibl_txt {
    display: block;
    justify-content: center;
  }

  .per4 {
    height: 300px;
    width: 200px;
    margin-left: 20%;
  }

  .texto2 {
    text-align: justify;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: auto;
    font-size: x-large;
  }

  .texto3 {
    position: relative;
    float: bottom left;
    margin: auto;
    text-align: left;
  }

  .biblia {
    width: 325px;
    margin-left: 1%;
    margin-top: 5%;
    margin-right: 10%;
  }

.MusiFondo{
  padding-top: 5%;
  padding-right: 5%;
}

}

@media screen and (max-width: 500px) {
  body {
    color: #d35b02;
    font-weight: 700;
    line-height: 1.5rem;
    height: 100%;
    width: 100%;
  }

  .fondo {
    background-image: url("../images/flormedi.png");
    background-repeat: repeat-y;
    background-size: 150%;
  }

  .titulo {
    padding-top: 1rem;
    text-align: center;
  }

  .titulo > img {
    width: 300px;
  }

  .flor {
    display: block;
    padding-top: 20px;
  }

  .flor > img {
    max-width: 300px;
    padding-left: 30%;
    padding-top: 20px;
  }

  .flor > p {
    text-align: justify;
    margin-left: 6%;
    margin-right: 4%;
    font-size: larger;
  }

  .personas {
    display: grid;
    text-align: center;
    margin-top: 20px;
    position: relative;
    margin: auto;
  }

  .per1 {
    width: 57%;
    padding: 20px;
    margin-left: 25%;
  }

  .per2 {
    width: 57%;
    padding: 20px;
    margin-left: 25%;
  }

  .per3 {
    width: 57%;
    padding: 20px;
    margin-left: 25%;
  }

  .p1 {
    text-align: justify;
    position: relative;
    margin-left: 6%;
    margin-top: 50px;
    font-size: large;
  }

  .p2 {
    margin-top: 150%;
    font-size: large;
  }

  .per4 {
    position: absolute;
    height: 25%;
    width: 25%;
    margin-left: 30%;
    margin-top: 105%;
  }

  .biblia {
    width: 40%;
    height: 50%;
    text-align: center;
    margin-bottom: 10%;
    margin-right: 30%;
    margin-left: 10%;
  }

  .manoytxt {
    display: block;
    text-align: center;
  }

  .texto {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: -130%;
    font-size: large;
  }

  .mano {
    width: 170px;
    margin-left: 0;
  }

  .texto2 {
    font-size: large;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 22%;
  }

  .per_bibl_txt {
    display: block;
    justify-content: center;
  }

  .MusiFondo{
    margin-left: 20%;
  }

}

