@import url(style.css);
.highlighted {
  color: #54291e;
}
.sopadeletras--firstcontainer {
  background-image: url(../images/###);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  padding-bottom: 4rem;
}
.start {
  padding-top: 1rem;
  text-align: center;
}
.start > img,
.valordonestitle > img {
  width: 300px;
}
.frase {
  color: #d35b02;
  font-size: 150%;
  font-weight: 700;
  line-height: 1.5rem;
  height: 100%;
  width: 100%;
}
.carta--sopa {
  margin-top: 5%;
  background-image: url(../images/carta.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 5%;
}
#contenedor {
  text-align: center;
  padding: 5%;
  margin: auto;
}
#contenedor div {
  width: 100%;
  margin: 0 auto;
}
#contenedor .letra {
  text-align: center;
  height: 5vw;
  width: 5vw;
  max-height: 3vw;
  max-width: 3vw;
  text-transform: uppercase;
  background-color: #e7e6e7;
  font: 0.7rem sans-serif;
}
#contenedor .selected {
  background-color: rgb(255, 136, 0);
}
#contenedor:hover .selected:hover {
  background-color: rgb(255, 136, 0);
  font-weight: bold;
}
#contenedor > div > button:hover {
  background-color: rgb(255, 215, 172);
  font-weight: bold;
}
#contenedor .found {
  background-color: #ff7b00;
  color: white;
  border: 1px solid black;
  font-weight: bold;
  text-shadow: 0px 2px 3px #000;
}
#contenedor .found:hover {
  background-color: rgb(255, 215, 172);
  font-weight: bold;
}
#contenedor .solved {
  background-color: rgb(255, 136, 0);
  color: white;
}
#contenedor .complete {
  background-color: rgb(255, 102, 0);
}
#BTNrefresh {
  position: absolute;
  bottom: 0em;
}
