@import url(style.css);

body {
  overflow-x: hidden;
}

.first-sect {
  text-align: center;
}

.first-sect > img {
  width: 300px;
  padding-bottom: 25px;
}

.texto > img {
  position: absolute;
  right: -80px;
  top: -120px;
}

.texto {
  position: relative;
  font-weight: 700;
  font-size: 1.125rem;
  color: #d35b02;
  text-align: left;
}

.texto > div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.texto > div > p {
  width: 90%;
}

.ejemplo-sect {
}

.ejemplo-title {
  position: relative;
  text-align: center;
}

.ejemplo-title > img {
  width: 200px;
}

.ejemplo-title::before {
  content: url(../images/termometro/termoejemplo.png);
  position: absolute;
  left: -20px;
  top: -70px;
}

